.createNewAuction-container {
    text-align: center;
    padding: 50px;
    justify-content: center;
}


.message {
    padding: 20px;
    color: green; 
    text-decoration-line: none;
    font-size: 1rem;
    text-align:center; 
}


.image {
    width: 200px;
    height: 300px;
}

.item {
    padding: 10px;
    margin: 10px;
    width: 100%;
}

