.startPage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin: 2rem 0 0 0;
    color: #21201e;
}

.toggleBtn {
    border-style: none;
    background: none;
    margin-bottom: 1rem;
    padding: 0.4rem;
    color: #42799E;
    font-size: 1rem;
}

.toggleBtn:hover {
    color: #305873;
    text-decoration: underline;  
}

.auction-content {
    width: 50vw;
    margin-top: 1rem;
    background-color: #F1F6F9;
}

.partial-1 {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0rem;
    background: #CCD6EB;
    color: #21201e;
}

.name {
    font-weight: bold;
}

.partial-2 {
    display: flex;
    flex-direction: row;
}

.img {
    width: 200px;
    height: 300px;
}

.description {
    margin: 1rem; 
    color: #21201e;
}

.bid-content {
    display: flex;
    justify-content: center;
    padding: 0.2rem;
    margin-top: 0.2rem;
    background: #CCD6EB;
    font-size: 0.8rem;
} 

.bidder {
    padding: 0.1rem;
    width: 70%;
}

.bid {
    padding: 0.1rem;
    width: 30%;
}
